body{
    margin: 0;
    font-family: serif; 
    background-color: antiquewhite;   
}
.container{
    text-decoration: none;
    overflow: hidden;
    margin: auto;
    width: 80%;  
}

.mainHeader{
    background: linear-gradient(135deg, 
    salmon, aquamarine, violet);
    color:sandybrown;
    text-align: center;
    font-size: 17px;
    background-size: 400%;
    animation: anim 4s infinite alternate;
}
@keyframes anim{
    from{
    background-position: 0%;
    }
    to{
        background-position: 100%;
      }
}
.mainHeader a{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.mainHeader a.logo{
    font-size: 25px;
    font-weight: bold;
    
}
.mainHeader a:hover{
    background-color: bisque;
    color: black
}
.mainheader a.active{
    background-color: chocolate;
    color: wheat;
}
.Hright{
    float: right;
}
@media screen and (max-width: 500px) {
    .mainHeader a{
        float: none;
        display: block;
        text-align: left;
    }

    .Hright{
        float: none;
    }
}
#intro{
    background-color: rgba(240, 255, 255, 0.514);
    background-position: center center;
    min-height: 300px;
    text-align: center;
    margin: 40px 50px 0px 50px;
    font-size: 30px;
    border-radius: 15px 45px;
    animation: shine 3s 1;
    border:solid rgba(139, 114, 151, 0.356) 4px;
}
h1{
    animation: move 10s 1;
}
p{
    animation: move1 5s 1;
}
@keyframes move{    
    0%{margin-left:100px}
    10 %{margin-left: 50px;}
    20%{margin-right:100px}
    0%{margin-right: 50px;}
    0%{margin-left:100px}
    0%{margin-left: 50px;}
    0%{margin-right:100px}
    0%{margin-right: 50px;}
    0%{margin-left:100px}
    0%{margin-left: 50px;}
}
@keyframes move1{
    0%{margin-right:100px}
    10%{margin-right: 50px;}
    20%{margin-left:100px}
    0%{margin-left: 50px;}
}

    /*position: relative; top:-80px; right: -60px;;*/

/*@media screen and (min-width: 480px) and (max-width: 767px) {
    h1,p{
        font-size: 30px;
    }
    
}*/
#project{
    margin-top: 100px;
}
#project h2{
    border-top: 5px solid rgba(147, 112, 216, 0.726);
}
